<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <title>Event Registration</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
<div class="container">
  <input type="text" ng-model="text" />
  <div repeat-x="5" text="{{text}}">{{text}}</div>
</div>

<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-route.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/directives/greeting.js"></script>
<script src="/js/directives/repeatx.js"></script>
<script src="/js/filters.js"></script>
<script src="/lib/bootstrap.min.js"></script>
</body>
</html>