<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <title>Event Registration</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>

<div class="container-fluid" ng-controller="EditProfileController">
  <form name="profileForm">
    <div class="row-fluid">
      <div class="span3">
        <gravatar email="{{user.emailAddress}}"/>
      </div>
      <div class="span3">
        <fieldset>
          <label for="userName">User Name:</label>
          <input focus id="userName" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
          <label for="password">Password:</label>
          <input id="password" required type="password" placeholder="Password" ng-model="user.password" />
        </fieldset>
        <div style="margin-top:15px">
          <fieldset>
            <label for="name">Name:</label>
            <input id="name" type="text" placeholder="Name" ng-model="user.name" />
            <label for="emailAddress">Email Address:</label>
            <input id="emailAddress" type="email" placeholder="Email Address" ng-model="user.emailAddress" />
          </fieldset>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <label for="bio">Bio:</label>
        <textarea id="bio" rows="6" style="width:97%; color:#52575c" placeholder="Bio" ng-model="user.bio"></textarea>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <div class="pull-left"><span class="btn">Cancel</span></div>
        <div class="pull-right"><button type="submit" class="btn btn-primary">Save</button></div>
      </div>
    </div>
  </form>
</div>


<script src="/lib/jquery.min.js"></script>
<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular/angular-route.js"></script>
<script src="/lib/angular/angular-resource.js"></script>
<script src="/lib/underscore-1.4.4.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/EditProfileController.js"></script>
<script src="/js/services/GravatarUrlBuilder.js"></script>
<script src="/js/directives/gravatar.js"></script>
<script src="/js/filters.js"></script>
<script src="/lib/bootstrap.min.js"></script>

</body>
</html>